.main {
  grid-area: main;
  height: calc(100% - var(--menu-height));
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &.is-desktop {
    display: none;
    position: fixed;
    width: var(--menu-width);
    height: 100%;
    z-index: 11;
    box-shadow: 1px 0px 3px #a3a3a3;
  }
}

.header {
  grid-area: header;
  position: fixed;
  z-index: 10;
  right: 0;
  left: var(--menu-width);
  width: 100%;
  height: var(--menu-height);
  background-color: white;
}

.layout {
  display: grid;
  grid-template:
    'header' var(--menu-height)
    'main' 100% / auto;
}

@media (width >= 768px) {
  .navbar {
    &.is-desktop {
      display: flex;
    }
  }
  .layout {
    grid-template:
      'navbar header' var(--menu-height)
      'navbar main' auto
      /
      var(--menu-width) auto;
  }
  .main {
    height: 100%;
  }
}
